:host{
    flex-grow:1;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.input label{
    position: absolute;
    top:0;
    transform: translate(-50%);
    left: 10px;
    background: rgba(10, 199, 10, 0.562);
    padding: 5px 2px;
}

div.input input{
    padding: 10px 20px;
    font-size: 25px;
    outline: 0;
}

div.input{
    margin-top: 20px;
}